# 1.AND

In [1]:
import numpy as np
import pandas as pd

In [2]:
X1=[0,0,1,1]
X2=[0,1,0,1]

In [3]:
#expevted output
t=[0,0,0,1]

In [4]:
yin=[]
yout=[]

In [5]:
#weights
w1=1
w2=1

In [6]:
for i in range(len(X1)):
    ye=w1*X1[i]+w2*X2[i]
    yin.append(ye)
    if ye>1:
        ye=1
    else:
        ye=0
    yout.append(ye)

In [7]:
d={"X1":X1,"X2":X2,"yin":yin,"yout":yout,"t":t}

In [8]:
df=pd.DataFrame(d)
df

   X1  X2  yin  yout  t
0   0   0    0     0  0
1   0   1    1     0  0
2   1   0    1     0  0
3   1   1    2     1  1

# 2.OR

In [9]:
X1=[0,0,1,1]
X2=[0,1,0,1]

In [10]:
#expected output
t=[0,1,1,1]

In [11]:
#weights
w1=1
w2=1

In [12]:
yin=[]
yout=[]

In [13]:
for i in range(len(X1)):
    ye=w1*X1[i]+w2*X2[i]
    yin.append(ye)
    if ye>0:
        ye=1
    else:
        ye=0
    yout.append(ye)

In [14]:
d={"X1":X1,"X2":X2,"yin":yin,"yout":yout,"t":t}

In [15]:
df=pd.DataFrame(d)
df

   X1  X2  yin  yout  t
0   0   0    0     0  0
1   0   1    1     1  1
2   1   0    1     1  1
3   1   1    2     1  1

# 3.NOT

In [16]:
X1=[0,1]
w1=1
t=[1,0]#Expected output

In [17]:
yin=[]
yout=[]

In [18]:
for i in X1:
    ye=w1*i
    yin.append(ye)
    if ye>0:
        ye=0
    else:
        ye=1
    yout.append(ye)

In [19]:
d={"X1":X1,"yin":yin,"yout":yout,"t":t}

In [20]:
df=pd.DataFrame(d)
df

   X1  yin  yout  t
0   0    0     1  1
1   1    1     0  0

# 4.XOR

In [65]:
#we need two not gate,two AND gate, one OR gate

In [21]:
def NOT_gate(x):
    if x>0:
        return 0
    else:
        return 1

In [22]:
def AND_gate(x,y):
    return x*y

In [23]:
def OR_gate(x,y):
    return x+y

In [24]:
X1=[0,0,1,1]
X2=[0,1,0,1]
t=[0,1,1,0]#expected

In [25]:
#weights
w1=1
w2=1

In [26]:
yin=[]
yout=[]
for i in range(len(X1)):
    y1=AND_gate(NOT_gate(X1[i]),X2[i])
    y2=AND_gate(X1[i],NOT_gate(X2[i]))
    y1=y1*w1
    y2=y2*w2
    ye=OR_gate(y1,y2)
    yin.append(ye)
    if ye>0:
        ye=1
    else:
        ye=0
    yout.append(ye)

In [27]:
d={"X1":X1,"X2":X2,"yin":yin,"yout":yout,"t":t}

In [28]:
df=pd.DataFrame(d)
df

   X1  X2  yin  yout  t
0   0   0    0     0  0
1   0   1    1     1  1
2   1   0    1     1  1
3   1   1    0     0  0